body {
    background-color:hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

p {
    font-size: 30px;
}

#heading1{
    text-align: center;
}

.text1 {
    text-align: left;
    color:snow;
}

h2 + p {
    color: green;
}

#div1{
    color: snow;
}

p:hover{
    color: yellowgreen;
}

p::first-line{
    color: teal;
}